<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    savol : {{question.text}}
    <form action="{% url 'quiz' student_id %}" method="post">
        {% csrf_token %}
        <input type="text" name="student_question_id" value="{{ student_question_id }}" > <br>
        {% for answer in answers %}
            <input type="radio" id="answer" name="answer_id" value="{{ answer.id }}">{{ answer.text }}<br>
        {% endfor %}

        <input type="submit" value="Submit">
    </form>
</body> 
</html>